<a href="https://colab.research.google.com/github/singhudaypratap/sentiment_analysis/blob/main/Classifying_tweets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Import the libraries
from textblob import TextBlob
#from wordcloud import WordCloud
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt

In [ ]:
from google.colab import files
uploaded=files.upload()

Saving Tesla.csv to Tesla.csv

In [ ]:
dataset=pd.read_csv('Tesla.csv')

In [ ]:
dataset.head()

,Unnamed: 0,id,conversation_id,created_at,date,timezone,place,tweet,language,hashtags,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,0,1546541426317590528,1545826164564000768,1.657559e+12,2022-07-11 17:06:24,0,NaN,@GailAlfarATX @elonmusk @Tesla @teslacn @Tesla...,en,[],...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'GailAlfarATX', 'name': 'Gail...",NaN,NaN,NaN,NaN
1,1,1546541415857102850,1545826164564000768,1.657559e+12,2022-07-11 17:06:21,0,NaN,@elonmusk @GailAlfarATX @Tesla @teslacn @Tesla...,en,[],...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'elonmusk', 'name': 'Elon Mus...",NaN,NaN,NaN,NaN
2,2,1546541411897581568,1546541411897581568,1.657559e+12,2022-07-11 17:06:20,0,NaN,"@elonmusk #Think about buying a country , #Mex...",en,"['think', 'mexico', 'constitution']",...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
3,3,1546541379110805508,1546340000500813824,1.657559e+12,2022-07-11 17:06:12,0,NaN,"@get_innocuous Actual receipts, and yet you ha...",en,[],...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'get_innocuous', 'name': 'tra...",NaN,NaN,NaN,NaN
4,4,1546541363470028800,1546541363470028800,1.657559e+12,2022-07-11 17:06:09,0,NaN,Tesla wall battery for the save! Power went ou...,en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN

In [ ]:
print(dataset['tweet'].head(5))

0    @GailAlfarATX @elonmusk @Tesla @teslacn @Tesla...
1    @elonmusk @GailAlfarATX @Tesla @teslacn @Tesla...
2    @elonmusk #Think about buying a country , #Mex...
3    @get_innocuous Actual receipts, and yet you ha...
4    Tesla wall battery for the save! Power went ou...
Name: tweet, dtype: object

In [ ]:
Data_tweet=dataset[['tweet']].copy()

In [ ]:
Data_tweet.head()

                                               tweet
0  @GailAlfarATX @elonmusk @Tesla @teslacn @Tesla...
1  @elonmusk @GailAlfarATX @Tesla @teslacn @Tesla...
2  @elonmusk #Think about buying a country , #Mex...
3  @get_innocuous Actual receipts, and yet you ha...
4  Tesla wall battery for the save! Power went ou...

In [ ]:
# Clean the text
# Create a function to clean the tweets
def cleanTxt(text):
  text = re.sub(r'@[A-Za-z0-9]+', '', text) # Removed @mentions
  text = re.sub(r'#', '', text) #Removing '#' Symbol
  text = re.sub(r'RT[\s]', '', text) #Removing RT
  text = re.sub(r'https?:\/\/\S+', '', text) #Removing the hyper link
  return text
#Cleaning
Data_tweet['tweet']=Data_tweet['tweet'].apply(cleanTxt)
Data_tweet

                                                   tweet
0                 I have six. 4 of them still live at...
1                 Then go for your dozen kids… you ar...
2       Think about buying a country , Mexico ? You c...
3      _innocuous Actual receipts, and yet you haven’...
4      Tesla wall battery for the save! Power went ou...
...                                                  ...
10011  Dude only said he is buying twitter to sell 8 ...
10012                                 Give me your Tesla
10013  Sebuah keluarga yang setia kepada Tesla bertuk...
10014  Chick Fil A should definitely go public, they ...
10015            Fossil fuels. Like coal, natural gas...

[10016 rows x 1 columns]

In [ ]:
# Create a function to get the subjectivity
def getSubjectivity(text):
  return TextBlob(text).sentiment.subjectivity

# Create a function to get the polarity
def getPolarity(text):
  return TextBlob(text).sentiment.polarity

#Create columns in dataset
Data_tweet['Subjectivity'] = Data_tweet['tweet'].apply(getSubjectivity)
Data_tweet['Polarity'] = Data_tweet['tweet'].apply(getPolarity)

print(Data_tweet)

                                                   tweet  Subjectivity  \
0                 I have six. 4 of them still live at...      0.488889
1                 Then go for your dozen kids… you ar...      0.275000
2       Think about buying a country , Mexico ? You c...      0.850000
3      _innocuous Actual receipts, and yet you haven’...      0.433929
4      Tesla wall battery for the save! Power went ou...      0.000000
...                                                  ...           ...
10011  Dude only said he is buying twitter to sell 8 ...      1.000000
10012                                 Give me your Tesla      0.000000
10013  Sebuah keluarga yang setia kepada Tesla bertuk...      0.000000
10014  Chick Fil A should definitely go public, they ...      0.244444
10015            Fossil fuels. Like coal, natural gas...      0.400000

       Polarity
0     -0.121212
1      0.400000
2      0.500000
3      0.144345
4      0.000000
...         ...
10011  0.000000
10012  0.000000
10013  0.000000
10014  0.233333
10015  0.100000

[10016 rows x 3 columns]

In [ ]:
# defining class
def getAnalysis(score):
  if score<0:
    return 'Negative'
  #elif score==0:
   #return 'Neutral'
  else:
    return 'Positive'
Data_tweet['Analysis'] = Data_tweet['Polarity'].apply(getAnalysis)

Data_tweet.head(10)

,tweet,Subjectivity,Polarity,Analysis
0,I have six. 4 of them still live at...,0.488889,-0.121212,Negative
1,Then go for your dozen kids… you ar...,0.275000,0.400000,Positive
2,"Think about buying a country , Mexico ? You c...",0.850000,0.500000,Positive
3,"_innocuous Actual receipts, and yet you haven’...",0.433929,0.144345,Positive
4,Tesla wall battery for the save! Power went ou...,0.000000,0.000000,Positive
5,for sale: 2021 Used TESLA MODEL Y STANDARD RAN...,0.216667,-0.083333,Negative
6,"Think about buying a country , Mexico ? You ...",0.850000,0.500000,Positive
7,"$TSLA not a full MacD cross down yet, but rem...",0.313889,-0.053175,Negative
8,"as far as I remember, Leonardo da V...",0.705556,0.387500,Positive
9,"Let’s me real , no average American is goin...",0.398377,-0.002570,Negative